bitburner/
Code/
dconf/
glib-2.0/
go/
kde.org/
pulse/
r2modman/
r2modmanPlus-local/
session/
simple-update-notifier/
spicetify/
spotify/
systemd/
unity3d/
yay/
vesktop/Crashpad/
vesktop/ExtensionCache/
vesktop/sessionData/
vesktop/SingletonCookie
vesktop/SingletonLock
vesktop/SingletonSocket
vesktop/state.json
vesktop/setting.json